.btn {
  padding: 10px 22px;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2rem;
  transition:
    background-color 0.2s,
    color 0.2s;

  &--primary {
    background-color: #000000;
    color: #fff;
    border-color: #000000;

    &:hover {
      background-color: #505050;
      border-color: #505050;
    }
  }

  &--secondary {
    background-color: transparent;
    color: #000000;
    border-color: #000000;

    &:hover {
      background-color: #f0f6fb;
    }
  }
}
